@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #fff6fb;
  font-family: 'Gowun Dodum', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover, a:active {
  color : #fbcff8;
}

/* 네브 */
.nav {
  display: flex;
  justify-content: space-between;
  width: 55rem;
}

.nav .NewLogin {
  display: flex;
  margin-top: 0.6rem;
}

.nav .newPost {
  margin-right: 2rem;
  margin-top: 0.75rem;
  border: none;
  background-color: #fff6fb;
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 1.1rem;
  height: 2rem;
}

.nav .newPost:hover {
  color : #fbcff8;
}

/* 로그인 */
.login .form, .signup .form {
  display: flex;
  flex-direction: column;
}

.login input, .signup input {
  padding: 0.3rem 2rem 0.3rem 0.7rem;
  margin-top: 0.3rem;
  margin-bottom: 0.7rem;
  border-width: 0.07rem;
  border-radius: 0.8rem;
}

.login .submit, .signup .submit{
  width: 5rem;
  margin-top: 1rem;
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 0.95rem;
  background-color: white;
  border-radius: 0.7rem;
  border-width: 0.08rem;
}

.login .submit:hover, .signup .submit:hover {
  color: #fbcff8;
}