@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #fff6fb;
  font-family: 'Gowun Dodum', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover, a:active {
  color : #fbcff8;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 55rem;
}

.nav .NewLogin {
  display: flex;
}

.nav .newPost {
  margin-right: 2rem;
}