@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #fff6fb;
  font-family: 'Gowun Dodum', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover, a:active {
  color : #fbcff8;
}

/* 네브 */
.nav {
  display: flex;
  justify-content: space-between;
  width: 55rem;
}

.nav .NewLogin {
  display: flex;
  margin-top: 0.6rem;
  margin-right: 0rem;
}

.nav .logout {
  border: none;
  background-color: #fff6fb;
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 0.8rem;
}

.nav .newPost, .newpost .main, .post .main {
  margin-right: 2rem;
  margin-top: 0.75rem;
  border: none;
  background-color: #fff6fb;
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 1.1rem;
  height: 2rem;
}

.nav .newPost:hover, .nav .logout:hover, .newpost .main:hover, .post .main:hover {
  color : #fbcff8;
}

/* 로그인, 회원가입 */
.login .form, .signup .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login input, .signup input {
  font-family: 'Gowun Dodum', sans-serif;
  padding: 0.3rem 2rem 0.3rem 0.7rem;
  margin-top: 0.3rem;
  margin-bottom: 0.7rem;
  border-width: 0.07rem;
  border-radius: 0.8rem;
}

.login .submit, .signup .submit, .newpost .submit, .post .save, .edit, .delete{
  width: 5rem;
  margin-top: 1rem;
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 0.95rem;
  background-color: white;
  border-radius: 0.7rem;
  border-width: 0.08rem;
}

.login .submit:hover, .signup .submit:hover, .newpost .submit:hover {
  color: #fbcff8;
}

/* 새 게시물 작성 페이지 */
.newpost .form {
  display: flex;
  flex-direction: column;
}

.newpost .title, .post .editTitle {
  padding: 1rem 5rem 1rem 2rem;
  margin-bottom: 1.5rem;
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 1.5rem;
  border: none;
  border-radius: 3rem;
  outline: none;
}

.newpost .content, .post .editContent {
  padding: 2rem;
  resize: none;
  margin-bottom: 2rem;
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 3rem;
  outline: none;
}

.newpost .submit {
  margin-left: 0.5rem;
}

.newpost .main {
  margin-left: 0.3rem;
}

/* 게시물 페이지 */
.post .title {
  width: 45rem;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.post .create {
  padding-left: 1rem;
  padding-bottom: 0.2rem;
  font-size: 0.9rem;
}

.post .content {
  width: 54rem;
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;
  margin-bottom: 0rem;
}

.post .button {
  padding-left: 42rem;
}

.post .editContent {
  width: 50rem;
}

.post .save, .edit, .delete {
  margin-right: 1rem;
}

.comment {
  display: flex;
  flex-direction: column;
}

.post .line {
  border-top: 0.1rem solid #fbcff8;
}

.post .main {
  padding-left: 8rem;
}

.comment .input {
  font-family: 'Gowun Dodum', sans-serif;
  padding: 0.5rem 2rem 0.5rem 0.7rem;
  margin-bottom: 0.7rem;
  margin-right: 0.5rem;
  border-width: 0.07rem;
  border-radius: 0.8rem;
  resize: none;
  width: 20rem;
  min-height: 5rem;
}

.comment .submit {
  width: 6rem;
  padding: 0.1rem;
  margin-top: 0.3rem;
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 0.95rem;
  background-color: white;
  border-radius: 0.7rem;
  border-width: 0.08rem;
}

.comment .submit:hover,
.post .save:hover,
.post .edit:hover,
.post .delete:hover {
  color: #fbcff8;
}

.comments {
  padding-left: 0rem;
  padding-top: 1rem;
}

.comments .single {
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 2rem;
  padding: 0.5rem 0.7rem 1rem 1.5rem;
  list-style-type: none;
}

.single .userDate {
  font-size: 0.7rem;
}

/* 홈 게시물 목록 */
.home .posts {
  width: 55rem;
  background-color: white;
  border-radius: 3rem;
  padding: 1rem 3rem 1rem 3rem;
  list-style-type: none;
}

.home .line {
  border-top: 0.1rem solid #fbcff8;
}

.home .createdAt {
  font-size: 0.7rem;
  margin-top: 0.2rem;
}

.home .title {
  margin-bottom: 0rem;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}